<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <meta charset="UTF-8">
    <title>Salary Details</title>
    <style>
        #content-main {
        padding: 0px 50px 75px 38px;
        }
    </style>
</head>
<body>
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Payroll Management System</a></h1>
            </div>

            <div id="user-tools">
                Welcome,
                <strong>adminHR</strong>.
                <a href="/payroll_details/">View site</a> /
                <a href="/admin">Modify records</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
            </div>
        </div>
    <div id="content-main">
        <br>
    <a href="../empid{{ employee.e_id }}">Go back</a><br>
    <h2>Salary Details for Employee id: {{ employee.e_id }}</h2>
    <p><ul>
        <li><b>Employee ID :</b> {{ employee.e_id }}<br></li>
        <li><b>Name :</b> {{ employee.e_fname }} {% if employee.e_mname != "Nil" %}
            {{ employee.e_mname }}
            {% endif %} {{ employee.e_lname }}
        </li>
        <li><b>Age :</b> {{ employee.e_age }}<br></li>
        <li><b>Phone :</b> {{ employee.e_phone }}<br></li>
        <li><b>Email :</b> {{ employee.e_email }}<br></li>
        <li><b>CTC p.a. :</b> Rs. {{ employee.e_CTC_Year }}<br></li>

    </ul></p>
    <h2>Select a month and year : </h2><br>
    <form action="salarydetails" method="post">{% csrf_token %}
        <label for="month">Month:</label><br>
        <input list="months" id="month" name="month" maxlength="100" required>
            <datalist id="months">
                {% if months %}
                    {% for month in months %}
                        <option value="{{ month }}">
                    {% endfor %}
                {% else %}
                    <option value="No records">
                {% endif %}
            </datalist>
        <br>
        <label for="year">Year:</label><br>
        <input list="years" id="year" name="year" maxlength="100" required>
            <datalist id="years">
                {% if years %}
                    {% for year in years %}
                        <option value="{{ year }}">
                    {% endfor %}
                {% else %}
                    <option value="No records">
                {% endif %}
            </datalist>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    </div>
    </div>

</body>
</html>