<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <meta charset="UTF-8">
    <title>Salary Employee Mail Success</title>
        <style>
        #content-main {
        padding: 0px 50px 75px 38px;
        }
    </style>
</head>
<body>
<body>
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="/">Payroll Management System</a></h1>
            </div>

            <div id="user-tools">
                Welcome,
                <strong>adminHR</strong>.
                <a href="/payroll_details/">View site</a> /
                <a href="/admin">Modify records</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>
            </div>
        </div>
    <div id="content-main">
        <br>
        <h1>Mail sent successfully!</h1>
        <a href="../">Go back to Home page</a>
    </div>
    </div>
</body>
</html>